.progressBar {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 20px;
  padding: 0 20px;
  margin-bottom: 5px;
}
.progressBarInner {
  width: 100%;
  height: 20px;
  background-color: #fbfbfb;
}