.player {
  float: left;
  width: 100%;
  text-align: center;
}
.player audio {
  display: none;
}
.nowPlaying {
  font-size: 18px;
  font-family:'kayak_sanslight';
  color: #88802b;
  box-sizing: border-box;
  padding: 20px 20px 5px 20px;
  margin: 0px;
}
.timer {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}
.options {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  margin-bottom: 10px;
}
.optionsInner {
  float: left;
  width: 33.3%;
}
.optionsLeft {
  composes: optionsInner;
  text-align: left;
}
.optionsCenter {
  composes: optionsInner;
  text-align: center;
}
.optionsRight {
  composes: optionsInner;
  text-align: right;
}
.controls {
  composes: optionsInner;
  margin-bottom: 20px;
}
.controlsButton {
  border: none;
  outline: none;
  background: transparent;
  padding: 0px;
  color: #8c8c8c;
  font-family: 'kayak_sanslight';
  font-size: 12px;
}
.controlsButton b {
  font-family: 'kayak_sansbold';
  color: #88802b;
}