@import "~font-awesome/css/font-awesome.css";

@font-face {
    font-family: 'kayak_sanslight';
    src: url('./media/kayak_sans_light-webfont.woff2') format('woff2'),
         url('./media/kayak_sans_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kayak_sansbold';
    src: url('./media/kayak_sans_bold-webfont.woff2') format('woff2'),
         url('./media/kayak_sans_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kayak_sansregular';
    src: url('./media/kayak_sans_regular-webfont.woff2') format('woff2'),
         url('./media/kayak_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  padding: 0px;
  margin: 0px;
  color: #7d786e;
  background-color: white;
  font-family: 'kayak_sansregular', Arial, Helvetica, Helvetica Neue, serif;
}